body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  @apply text-base;
  @apply leading-relaxed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
}

h1 {
  @apply text-3xl;
  @apply mb-6;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-sm;
}

p {
  @apply mb-6;
  @apply text-base;
  @apply leading-relaxed;
  @apply text-gray-700;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

